.forecast {
    font-size: 16px;
    flex: 1;
}

.condition-icon {
    height: 32px;
}

.list-item {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

.list-item .col {
    justify-content: space-around !important;
    height: 32px;
}