.app {
  text-align: center;
  height: calc(100vh - 30px);
  width: calc(100vw - 30px);
  padding: 15px;
  background-color: black;
  color:white;
}

.app-logo {
  justify-self: flex-start;
  animation: app-logo-spin infinite 20s linear;
  height: 10vmin;
  width: 128px;
}

.app-link {
  color: #BFB;
}

.flex-1 {
  flex: 1;
}

.row {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}